* {
	margin: 0;
	padding: 0;
}

body {
	background: #F8FAFC;
	font-family: Helvetica, Arial, sans-serif;
}

#board {
	margin: 30px auto;
	width: 620px;
}

#board .section {
	border: 5px solid #000;
	float: left;
	font-size: 12em;
	font-weight: bold;
	height: 200px;
	text-align: center;
	width: 200px;
}

#board .section.tl {
	border-top: 0;
	border-left: 0;
}

#board .section.tc {
	border-top: 0;
}

#board .section.tr {
	border-top: 0;
	border-right: 0;
}

#board .section.ml {
	border-left: 0;
}

#board .section.mc {
}

#board .section.mr {
	border-right: 0;
}

#board .section.bl {
	border-bottom: 0;
	border-left: 0;
}

#board .section.bc {
	border-bottom: 0;
}

#board .section.br {
	border-bottom: 0;
	border-right: 0;
}

#result-modal {
	padding: 50px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
}

#result-modal button {
	border: 0;
	background: #000;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding: 10px;
}

#result-modal button:hover {
	background: #333;
}

.muted-cell {
	color: #ccc;
}

.loss-cell-color {
	background: #A60000;
	color: #fff;
}

.win-cell-color {
	background: #49B1FF;
	color: #fff;
}